body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #0a4074;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight,
header .current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #ffffff;
    font-weight: bold;
}

h1 {
    text-align: center;
}

.job {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.job:last-child {
    border-bottom: none;
}

.job-title {
    color: #007bff;
    font-size: 1.2em;
}

.company {
    font-weight: bold;
}

.time-period {
    color: grey;
    font-style: italic;
}

.location {
    color: #555;
}

.description {
    margin-top: 5px;
}

.skills {
    background-color: #eee;
    padding: 10px;
    margin-top: 10px;
}

.skill {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 3px 7px;
    margin: 2px;
    font-size: 0.8em;
    border-radius: 3px;
}